{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'wishlist/style.css' %}" />

<div
	style="
		padding: 24px;
		display: flex;
		flex-direction: column;
		items-align: center;
	"
>
	<table class="table">
		<tr>
			<th>Nama Barang</th>
			<th>Harga Barang</th>
			<th>Deskripsi</th>
		</tr>
		{% for barang in list_barang %}
		<tr>
			<th>{{barang.nama_barang}}</th>
			<th>{{barang.harga_barang}}</th>
			<th>{{barang.deskripsi}}</th>
		</tr>
		{% endfor %}
	</table>
	<h5>Sesi terakhir login: {{ last_login }}</h5>
</div>
{% endblock content %}
